.row {
    padding: 20px;
    padding-top: 100px;
}
div {
    background-color: #D5B4DC;
    text-align: center;

}
#proyf{
    -webkit-box-shadow: 3px 3px 6px 3px #000000; 
    box-shadow: 3px 3px 6px 3px #000000;
}