<div class="row">
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
        <h1 id="edu">Educacion</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/etig.jpg" class="img-fluid" id="fetig">
        
    
        
    </div>


    <div class="col-xs-12 col-sm-4 cold-md-4 col-lg-4">
        <img src="../../../assets/Logos-UTN.BA-cs6-fondo-blanco.png"class="img-fluid" id="futn">
    </div>

    <div class="col-xs-12 col-sm-4 cold-md-4 col-lg-4">
        <img src="../../../assets/Logode_la_UBA.jpg" class="img-fluid" id="fuba"> 
    </div>
</div>