<div class="row">
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
        <h1 id="edu">Educacion</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/etig.jpg" class="img-fluid" id="fetig">
        <h1>Escuela Tecnologica Carlos Guidici</h1>
        <p>Titulo secundario bachiller en tecnologia industrial</p>
    
        
    </div>


    <div class="col-xs-12 col-sm-4 cold-md-4 col-lg-4">
        <img src="../../../assets/UTN_logo.jpg"class="img-fluid" id="futn">
        <h1>Universidad Tecnologica Nacional</h1>
        <p>Cursando ingenieria industrial</p>
    </div>

    <div class="col-xs-12 col-sm-4 cold-md-4 col-lg-4">
        <img src="../../../assets/descarga.png" class="img-fluid" id="fuba"> 
        <h1>Universidad de Buenos Aires</h1>
        <p>Cursando ciencia politica</p>
    </div>
</div>