<div class="row">
    <h1 id="exper">Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Traduccion de ingles-español</h3>
                <p>Formé parte de un equipo para la traduccion de papers encargados por el IET (Institute of Engineering and Technology) </p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Apoyo escolar</h3>
                <p>Materias de ingles, matematicas y lenguaje para niveles de primario y secundario</p>
            </li>
        </ul>
    </div>

</div>
