<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img src="../../../assets/profilepic.jpg" class="img-fluid" id="fotop">
        <h1 id="nombre">Ana Paula Andiarena</h1>
        <h2>Full stack developer Jr</h2>
    </div>


    <div class="col-xs-12 col-sm-6 cold-md-6 col-lg-6">
        <span>
            <h1>
            Acerca de mi:
            </h1>
             <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quibusdam enim nemo quam nihil ipsam a reprehenderit iste, molestiae ab impedit sunt consequatur itaque quaerat quas aspernatur officiis harum libero.
            </p>
        </span>
    </div>
</div>
