.row {
    padding: 20px;
}
div {
    background-color: #D5B4DC;
    text-align: center;

}
#fotop{
    width: 35%;
    border-radius: 100%;
    border: 10px dotted #FEFBFF;
    top: 700px;
    margin-right: 40px;
    margin-top: 2px;
    

}
#nombre{
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}
#acerca{
    padding-top: 40px;
    font-size: 35px;
}
