<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img src="../../../assets/profilepic.jpg" class="img-fluid" id="fotop">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <h2>Full stack developer Jr</h2>
    </div>


    <div class="col-xs-12 col-sm-6 cold-md-6 col-lg-6">
        <span>
            <h1 id="acerca">
            Acerca de mi:
            </h1>
             <p>
                ¡Welcome! Soy Ana y este es el portfolio web desarrollado para Argentina Programa. En el se encuentra un curriculum vitae con mis experiencias. ¡Espero que lo disfruten!
            </p>
        </span>
    </div>
</div>
